<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta name='description' content='Post jokes and follow friends to see their jokes! Ha!'>
        <link rel="stylesheet" type='text/css' href='/stylesheets/main.css'>
        <title>Post A Joke</title>
    </head>
    <body>
        <nav class='navigation'>
            <div id='hamburger'>
                <span class='navigation'></span>
                <span class='navigation'></span>
                <span class='navigation'></span>
                <span class='navigation'></span>
            </div>
            <div class='navigation' id='sidedrawer'>
                <ul class='navigation nav-left'>
                    <li><a href='/home'>Home</a></li>
                    <li><a href='/jokes'>Jokes</a></li>
                    <li><a href='/friends'>Friends</a></li>
                </ul>
                <ul class='navigation nav-right'>
                    <li><a href='/logout'>Logout</a></li>
                </ul>
            </div>
        </nav>