<%- include('partials/header') %>

<header id=profile-header>
    <h1>Hi, <%- user %>!</h1>
</header>
<main id='profile-main'>
    <form action='/joke' method='post' class='profile-form'>
        <h2>Post-A-Joke!</h2>
        <textarea name='joke' placeholder='A guy walks into a bar..'></textarea>
        <div class='profile-form-buttons'>
            <button type='reset' value='reset' class='signup-button'>Cancel</button>
            <button type='submit' class='signup-button'>Post!</button>
        </div>
        <% if (typeof errorMessage === String) { %>
            <p class='error-message'><%= errorMessage %> &#128556;</p>
        <% } %>
    </form>
    <section class='content'>
        <h2>View Jokes</h2>
        <hr>
        <div class='profile-buttons'>
            <div class='profile-button'>
                <a href='/signup'>Your Jokes</a>
            </div>
            <div class='profile-button'>
                <a href='/signin'>All Jokes</a>
            </div>
        </div>
    </section>
    <section class='content'>
        <h2>Find Friends</h2>
        <hr>
        <div class='profile-buttons'>
            <div class='profile-button'>
                <a href='/signup'>View Friends</a>
            </div>
            <div class='profile-button' id='search-friends-button'>
                <a href='/signin'>Search Friends</a>
            </div>
        </div>
    </section>
</main>

<%- include('partials/footer') %>