<%- include('partials/header') %> 

<header id='home-header'>
    <h1>Post <br> A Joke!</h1>
</header>
<main id='home-main'>
    <ul id='home-bullets'>
        <li>Post jokes</li>
        <li>Follow friends</li>
        <li>See their jokes &#128514;</li>
    </ul>
</main>
<div id='home-buttons'>
    <div class='signup-signin'>
        <a href='/signup'>Sign Up!</a>
    </div>
    <div class='signup-signin'>
        <a href='#'>Sign In!</a>
    </div>
</div>

<%- include('partials/footer') %>