<%- include('partials/header') %>

<main class='main-content'>
    <h2>Your Jokes &#128514;</h2>
        <% jokes.forEach(joke => { %>
            <div class='joke'>
                <h4><%- user %></h4>
                <p><%- joke.joke %></p>
            </div>
        <% }) %>

</main>

<%- include('partials/footer') %>